<html>
<head>
<title>Busqueda</title>
</head>
<body>
    <form action = "/buscar/" method="GET">
		<select id="inputO_type" name="residuo">
			<option>Plástico</option>
			<option>Latas</option>
			<option>Residuos Orgánicos</option>
			<option>Residuos Metálicos</option>
			<option>Ropa/Tela</option>
			<option>Cartón</option>
			<option>Vidrios</option>
			<option>Madera</option>
			<option>Papel</option>
			<option>Baterias y pilas</option>
			<option>Chatarra</option>
			<option>Otros</option>
        <input type="submit" value="Buscar">
		</select>
    </form>
</body>
</html>